*{
  box-sizing: border-box;
}
.services-wrapper{
  width: 100%;
  height: 100vh;
  padding-top: 120px;

}
.services{
  width: 864px;
  display: flex;
  justify-content: center;
  border: 1px solid yellow;
  margin: auto;


}

.service-heading{
  text-align: center;
  margin-top: 0;
  margin-bottom: 56px;
}
.service-img{
  width: 200px;
  height: 200px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  margin-right: 64px;
}
.heading-little{
  margin-top: 0;
}
.services-content{
padding-top: 25px;
}